/***** Custom CSS *****/

/*body:before {background: none !important;}*/

#socialbar {
    height: 60px;
}
ul.social {
    float: right;
    list-style: none outside none;
    margin: 20px 10px 0;
}
ul.social li {
    float: left;
    margin-left: 10px;
}
