
/***** header ****/
body{
background-color:#D9D9D1;
}
#header img,#site-name{
    float:left;
}
.menu-218 a{
    display:none;
}
#site-name a{
    color: #DF4445 !important;
    float: left;
    font-family: myriad pro;
    font-size: 33px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 17px;
    text-decoration:none;
}
#header
{
    background:url('../images/headerbg.png')repeat;
}
#first-time{
    display:none;    
}
.page
{
    background-color:#FFFFFF;
    padding:15px;
}
#navigation li,#navigation a{
    color:#202020 !important;
    font-family:arial;
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    padding:10px 9px;
}
#primary
{
    background-image:url('../images/menubg.jpg');
    background-repeat:repeat-x;
}
#primary li
{
    background: url("../images/img2.png") no-repeat scroll right transparent;

    
}
#header
{
    padding:0px !important;
}
#banner_img
{
    height:216px;
    margin-left:10px;
    margin-top:10px;
    background-repeat:no-repeat !important;
}
.region-highlighted
{
    padding-left:10px;
    padding-top:10px;
}
/*#navigation li {*/
/*    background: url("../images/img2.png") no-repeat scroll right top transparent;*/
/*    display: inline-block;*/
/*    list-style-type: none;*/
/**********Main Content CSS*****************/
#content-header h1{
    color: #F37356;
    font-size: 22px;
    padding-left: 10px;
    text-transform: capitalize;
}
.title img
{
    margin-left:5px;
}
.one-sidebar.sidebar-second #content
{
    width:67.468%;
}

.breadcrumb
{
    display:none;
}
#content-area .field-name-body img{
   left: 107px;
   position: absolute;
   top: 12px;
}
/******Sidebar Second CSS********/
#sidebar-second ul{
    background-color:#F2F2F0;
    padding-top:10px;
    padding-bottom:10px;    
}
#sidebar-second .content li{
  list-style-image:url('../images/img3.png');
  margin-left:35px;
}
#sidebar-second li a{
    color: #81827d!important;
    font-family: arial;
    font-weight:bold;
    padding-left: 25px;
    text-decoration:none;
}
#sidebar-second h2{
    background-color: #81827D;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #F2F2F0;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-top: 5px;
    margin:0px;
}

#sidebar-second .region-sidebar-second .block-block{
    margin-bottom:18px;
}
#sidebar-second{
    margin-top:10px;
    background-color:#FFFFFF;
     width: 29.404%;
}
/********** Bottom Region CSS***************/
.column-block-wrapper .content ul{
    padding-left:36px;
}
#sidebar-second .last .content ul{
padding-bottom:67px !important;
}
#sidebar-second .last
{
    margin-bottom:0px !important;
}
#bottom-columns
{
    padding-left: 10px;
    padding-right: 13px;
}
.column-block-wrapper .block-block{
    border: 1px solid #CBCCC7;
    background-color:#F2F2F0;
    margin-bottom:10px;
}

.column-block-wrapper .block-title{
    color: #E65425;
    font-family: Myriad Pro;
    font-size: 20px;
    margin:0px;
    padding-top: 11px;
    text-align:center;
}

.column-block-wrapper .content a{
    color:#e65425 !important;
    font-family:arial;
    font-weight:bold;
    float:right;
    text-decoration:none;
    padding-bottom:13px;
    padding-right: 5px;    
}

.column-block-wrapper .content li{
    color: #81827D;
    font-family: arial;
    font-weight: bold;
}

#content-area{
    color: #81827D;
    font-family: arial;
    font-weight: bold;
    margin-top: 10px;
   padding-left: 10px;
}

#footer{
    color:#F24C12 !important;
    text-align:center;
    padding:16px;
    font-size:13px;
    text-decoration:none;    
}

#header img{
    padding-left:15px;
}
#page{
    padding:0px;
}

#primary li.last
{    
    background:none !important;
}
#socialbar img
{
    padding:0px !important;
    width:22px;
}

#header{
    height:92px;
}

ul.social{
    margin-top:11px !important;
    margin-right:21px;
}

ul.social li{
    margin-left:11px !important;
}
 
 /***** CSS of bottom block columns *****/
.column-block-wrapper {
  float: left;
  margin-top:10px;
}
